.container{
    float: left;
    background-color: rgba(68, 68, 68, 0.5);
    padding: 10px;
    margin-left: 15%;
    margin-right: 15%;
}
.site-header{
    text-align: center;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #C9C0BB;
    border-radius: 5px;
    background-color: #2D383A;
}

.user-image{
    width: 100%;
    height: 30%;
    border-radius: 50%;
}
#home-image-div{
    width: 30%;
    height: 60%;
    display: block;
    margin-top: 5px;
}
#home-image{
    float: left;
    width: 60%;
    height: 55%;
    content: url('../media/resources/greg-rakozy.jpg');
}
#sign-up-div{
    display: inline-block;
    height: auto;
    width: 35%;
    margin-left: 15px;
}

form{
    z-index: 1;
    position: relative;
    width: 45%;
    border: 1px solid gray;
    padding: 1%;
    background-color:#A9B2C3;
    margin-left: 5px;
}
.form-control{
    margin-right: 5px;
}
label{
    font-size: 150%;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#backgroud-div{
    width: 5%;
    height: 15%;
}
.recent-chats{
    background-color: #A9B2C3;
}
.message-box{
    background-color: aliceblue;
}
#forgot {
    display: none;
}

.set_size {
    width: 500;
    float: left;
}

#hold_all {
    float: left;
}

#hold_res {
    float: right;
}
p{
    word-break: break-word;
}